swim_username = "your_scds_username"
swim_password = "your_scds_password"

tfm_queue_name = "your_tfm_queue_name"
sfdps_queue_name = "your_fdps_queue_name"

db_params = {
    "host": "localhost",
    "database": "database_name",
    "user": "your_username",
    "password": "your_password",
    "port": 5432,
    "keepalives": 1,
    "keepalives_idle": 30,
    "keepalives_interval": 10,
    "keepalives_count": 5
}

solace_props = {
    "solace.messaging.transport.host":
        "tcps://ems1.swim.faa.gov:55443",

    "solace.messaging.service.vpn-name":
        "TFMS",

    "solace.messaging.authentication.scheme.basic.username":
        swim_username,

    "solace.messaging.authentication.scheme.basic.password":
        swim_password,

    "solace.messaging.transport.compression-level":
        "1",

    # PRODUCTION:
    # Replace with real cert validation later
    "solace.messaging.tls.cert-validated":
        False,

    "solace.messaging.tls.cert-validate-servername":
        False,
}